<div class="split left">
  <div class ='main-div'>
    <mat-card class="example-result-card">
      <mat-card-title style="text-align:center;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Friends <span style="float:right;"> <button mat-flat-button color="accent"  matTooltip="Add new course!" routerLink="/friends/add">
    <i class="material-icons">add</i>
  </button> </span></mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center">
      </mat-card-subtitle>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="users" *ngFor="let friend of friends">




              <button mat-mini-fab color="primary" (click)="setSelectedFriend(friend.username, friend.firstName, friend.lastName)">
                <mat-icon>arrow_forward</mat-icon>
              </button>


            <div mat-line>
              <b>{{friend.firstName}} {{friend.lastName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>

            </div>
            <p mat-line>@{{friend.username.toLowerCase()}}</p>

            <mat-divider></mat-divider>

          </mat-list-item>


        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<hr />

<div class="split right">
  <div class ='main-div'>
    <mat-card class="example-result-card">
      <mat-card-title fxLayoutAlign="center">{{friendFirstName}} {{friendLastName}}</mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center">@{{friendUsername}}</mat-card-subtitle>
    </mat-card>

    <mat-card style="margin-top: 10px;">
      <mat-card-title>Assignments</mat-card-title>
        <mat-list>
          <ng-container *ngFor="let assignment of assignments">
            <mat-list-item class="assignments">

              <div mat-line>
                <b>{{ assignment.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
              </div>
              <p mat-line>{{ assignment.courseTitle }} </p>
              <p mat-line><b>Due on: </b>{{ assignment.dueDay | date:'EEEE, MMMM d' }} at {{ assignment.dueTime }}</p>

              <mat-divider></mat-divider>
            </mat-list-item>
          </ng-container>

        </mat-list>
    </mat-card>
    <mat-card style="margin-top: 10px; margin-bottom: 40px">
      <mat-card-title>Courses</mat-card-title>
      <mat-list>
        <ng-container *ngFor="let course of courses">
          <mat-list-item class="courses">
            <div mat-line>
              <b>{{ course.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            </div>
            <p mat-line>{{ course.instructorName }} </p>
            <p mat-line><b>When: </b>{{getCourseString(course)}} at {{course.startTime.substr(0, course.startTime.indexOf(' '))}} - {{course.endTime.split(' ').join('')}}</p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card>


  </div>
</div>


