/* Split the screen in half */
.split {
  height: 100%;

  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}


.assignments {
  display: inline-grid;
  row-gap: 0px;
  grid-template-areas:
    "due  notify"
    "info";
  margin-bottom: 10px;
  width: 300px;
  height: 80px;

}

.due {
  margin-bottom: 10px;
}

.info {
  margin-top: 0px;
  margin-bottom: 10px;
}

.friends_container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));


}
/*All friends list*/
.friends {
  display: grid;
  margin-bottom: 10px;
  margin-left: 15px;
  width: 200px;
  grid-template-areas:
    "names show"

}

/* Button to show assignments */
.show {
  align-self: center;
}

/* Control the left side */
.left {
  left: 0;
  width: 30%;
  padding-left: 50px;
}

/* Control the right side */
.right {
  right: 0;
  width: 60%;
  padding-right: 50px;
}

/*Assignments container */
.assign_container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(305px, 1fr));
}
/* This centers the titles of the sides */
.Title {
  text-align: center;
  color: white;
  font-size: 10px;
  margin-bottom: 2px;

}

/* Container for all of the friends */
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

th, td {
  padding: 15px;
}

.example-result-card h2 {
  margin: 0 8px 16px;
}


.Title {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.add {
  margin-left: 16px;
  transform: scale(0.65);
}


.fab-container-back {
  position: fixed;
  top: 85px;
  left: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}



:host /deep/ .mat-list-item-content {
  padding: 0!important;
}


