<div class="split left">
  <div class ='main-div'>
    <mat-card class="example-result-card">
      <mat-card-title fxLayoutAlign="center"> Friends</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <mat-list>

          <mat-list-item class="users" *ngFor="let friend of friends">

            <igx-avatar initials="{{friend.firstName.charAt(0)}}{{friend.lastName.charAt(0)}}"
                        [roundShape]="true"
                        size="small"
                        [bgColor]=pink
                        [color]="white">
            </igx-avatar>

            <div mat-line>
              <b>{{friend.firstName}} {{friend.lastName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>

            </div>
            <p mat-line>@{{friend.username.toLowerCase()}}</p>

            <mat-divider></mat-divider>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<hr />

<div class="split right">
  <div class ='main-div'>
    <mat-card class="example-result-card">
      <mat-card-title fxLayoutAlign="center"> Calendar</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
  <mat-list>
    <div mat-subheader>Folders</div>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>{{folder.name}}</div>
      <div mat-line> {{folder.updated | date}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>{{note.name}}</div>
      <div mat-line> {{note.updated | date}} </div>
    </mat-list-item>
  </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="fab-container">
  <button mat-flat-button color="accent"  matTooltip="Add new course!" routerLink="/friends/add">
    <i class="material-icons">add</i>
  </button>
</div>

