.example-result-card h2 {
  margin: 0 8px;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
