<div class ='main-div'>
  <mat-card class="example-result-card">
    <mat-card-title fxLayoutAlign="center" class="Title">Add Friends</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <mat-list>
          <mat-list-item class="users" *ngFor="let nonFriend of nonFriends">
            <div mat-line><b>{{nonFriend.firstName}}&nbsp;{{nonFriend.lastName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></div>
            <p mat-line>@{{nonFriend.username.toLowerCase()}}</p>
            <button mat-raised-button class="add" color="accent" type="submit" (click)="addFriend(nonFriend.username, nonFriend.firstName, nonFriend.lastName); actionMethod($event)">
              <mat-icon class="mat-48">add</mat-icon>
            </button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="fab-container-back">
  <button mat-flat-button color="primary" routerLink="/friends">
    <i class="material-icons">arrow_back</i>
  </button>
</div>

