.example-result-card h2 {
  margin: 0 8px 16px;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.add {
  margin-left: 16px;
  transform: scale(0.65);
}

