.mat-grid-list {
  height: 150px;
}

.mat-grid-tile {
  background-color: #ffffff;
}

.tile-content {
  padding-top: 35px;
}

.mat-grid-tile-header {
  display: flex;
  justify-content: center;
}

.mat-card {
  display: grid;
  width: 100%;
}

.current-month-container {
  text-align: center;
  color: white;
}

.calendar-container {
  grid-row-gap: 10px;
  font-size: 50px;
  margin: 10px 75px;
}

.nav_left {
  position: absolute;
  top: 180px;
  left: 18px;
  color: white;
}

.nav_right {
  position: absolute;
  top: 180px;
  right: 18px;
  color: white;
}

.circle-selected {
  color: #ff4081;
  text-align: center;


  font-weight: 300;
  font-size: 3.75rem;

}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.course-container {
  float: left;
  height: 90%;
  width: 750px;
  z-index: 1;
  overflow-x: hidden;
  padding: 50px;
}

.assignment-container {
  float: right;
  height: 90%;
  width: 750px;
  z-index: 1;
  overflow-x: hidden;
  padding: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
