<div class="current-month-container" style="padding-top: 35px">
  <h3>{{ currentMonthTitle() }}</h3>
</div>

<div class="calendar-container">
  <mat-icon class="nav_left" [inline]="true" (click)="previousWeek()">navigate_before</mat-icon>
  <mat-grid-list cols="7" rowHeight="fit" gutterSize="3px">
    <ng-container *ngFor="let currentDay of currentWeek">
      <mat-grid-tile (click)="changeSelectedDay(currentDay)">
        <mat-grid-tile-header style="background-color: lightpink" fxLayoutAlign="center"><b>{{ currentDay.toDateString().split(' ')[0] }}</b></mat-grid-tile-header>
        <div class="tile-content">
          <div class="circle-selected" *ngIf="selectedDay.toDateString() === currentDay.toDateString(); else notSelected">
            {{ currentDay.getDate() }}
          </div>
          <ng-template #notSelected>
            <h2>{{ currentDay.getDate() }}</h2>
          </ng-template>
        </div>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <mat-icon class="nav_right" [inline]="true" (click)="nextWeek()">navigate_next</mat-icon>
</div>

<div class="course-container">
  <mat-card class="example-result-card">
    <mat-card-title fxLayoutAlign="center">Courses</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let course of courses">
          <mat-list-item class="courses" *ngIf="course.days[selectedDay.getDay() - 1]">
            <div mat-line>
              <b>{{ course.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            </div>
            <p mat-line>{{ course.startTime }} - {{ course.endTime }}</p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </ng-container>
        <mat-list-item></mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>




<div class="assignment-container">
  <mat-card class="example-result-card">
    <mat-card-title fxLayoutAlign="center">Assignments</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let assignment of assignments">
          <mat-list-item class="assignments" *ngIf="equalDays(assignment.dueDay, selectedDay)">
            <div class="button-container">
              <button mat-mini-fab color="primary">
                <mat-icon routerLink="edit/{{assignment.title}}/{{assignment.dueDay}}/{{assignment.dueTime}}/{{assignment.courseTitle}}/{{assignment.username}}">edit</mat-icon>
              </button>

              <button mat-mini-fab style="margin-left: 15px">
                <mat-icon (click)="deleteAssignment(assignment)">delete</mat-icon>
              </button>
            </div>

            <div mat-line>
              <b>{{ assignment.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            </div>
            <p mat-line>{{ assignment.courseTitle }} </p>
            <p mat-line><b>Due:</b> {{ assignment.dueTime }}</p>

            <mat-divider></mat-divider>
          </mat-list-item>
        </ng-container>
        <mat-list-item></mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div class="fab-container">
  <button mat-flat-button color="accent"  matTooltip="Add new assignment!" routerLink="/calendar/add">
    <i class="material-icons">add</i>
  </button>
</div>


<!--
<h4>Courses</h4>
  <ng-container *ngFor="let course of courses">
    <mat-card *ngIf="course.days[selectedDay.getDay() - 1]">
      <mat-card-title>{{ course.title }}</mat-card-title>
      <mat-card-subtitle>Class</mat-card-subtitle>
      <mat-card-content>
        <p>{{ course.startTime }} - {{ course.endTime }}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
  -->
