.mat-grid-list {
  height: 150px;
}

.mat-grid-tile {
  background-color: #ffffff;
}

.mat-grid-tile-header {
  padding-bottom: 25px;
}

.mat-card {
  display: grid;
  width: 100%;
  height: 120px;
}

.current-month-container {
  text-align: center;
}

.calendar-container {
  grid-row-gap: 10px;
  font-size: 50px;
  margin: 10px 75px;
}

.nav_left {
  position: absolute;
  top: 235px;
  left: 18px;
}

.nav_right {
  position: absolute;
  top: 235px;
  right: 18px;
}

.circle-selected {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 44px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  background: midnightblue;
  border: 2px solid midnightblue;
  border-radius: 25px;
}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

