.mat-grid-list {
  height: 150px;
}

.mat-grid-tile {
  background-color: #ffffff;
}

.mat-grid-tile-header {
  padding-bottom: 25px;
}

.mat-card {
  display: grid;
  width: 100%;
  height: 120px;
}

.current-month-container {
  text-align: center;
}

.calendar-container {
  grid-row-gap: 10px;
  margin: 10px 75px;
}

.nav_left {
  position: fixed;
  top: 138px;
  left: 630px;
}

.nav_right {
  position: fixed;
  top: 138px;
  right: 630px;
}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

