<div class="current-month-container" style="padding-top: 75px">
  <mat-icon class="nav_left">navigate_before</mat-icon>
  <h2>{{ currentWeek[0].toLocaleDateString('en', { month: 'short' }) }} {{ currentWeek[0].getFullYear() }}</h2>
  <mat-icon class="nav_right">navigate_next</mat-icon>
</div>

<div class="calendar-container" style="padding-top: 10px">
  <mat-grid-list cols="7" rowHeight="fit" gutterSize="3px">
    <mat-grid-tile *ngFor="let currentDay of currentWeek; index as dayIndex; last as lastDay">
      <mat-grid-tile-header>{{ currentDay.toDateString().split(' ')[0] }}</mat-grid-tile-header>
      <h2>{{ currentDay.getDate() }}</h2>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="fab-container">
  <button mat-flat-button color="accent"  matTooltip="Add new assignment!" routerLink="/calendar/add">
    <i class="material-icons">add</i>
  </button>
</div>


<!-- this was for displaying cards in the calendar
<div class="course-list-container">
  <ng-container *ngFor="let course of courses">
    <mat-card *ngIf="course.days[dayIndex]">
      <mat-card-title>{{ course.title }}</mat-card-title>
      <mat-card-subtitle>Class</mat-card-subtitle>
      <mat-card-content>
        <p>{{ course.startTime }} - {{ course.endTime }}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
-->
