<div style="padding-top: 200px">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>

      <igx-avatar initials="{{firstName.charAt(0) + lastName.charAt(0)}}"
                  [roundShape]="isCircular"
                  size="medium"
                  [bgColor]="bgColor"
                  [color]="color">
      </igx-avatar>
      <ul style="list-style-type:none; margin-top: 10px;">

        <li class="name"><b>{{firstName}} {{lastName}}</b></li>
        <li style="color: dimgrey; font-size: 14px">@{{username}}</li>

      </ul>

    </mat-card-header>

    <form class="example-form">
      <mat-card-content style="margin-top: 20px;">
        <div class="info" align="center">
          <ul style="list-style-type:none;">
          <li>Enrolled in <b>{{courses.length}}</b> courses</li>
            <li> &nbsp; &nbsp;Struggling on <b>{{assignments.length}}</b> assignments</li>
          <li>Following <b>{{friends.length}}</b> friends</li>

          </ul>
        </div>
      </mat-card-content>
      <div fxLayoutAlign="center center">
        <button (click)="logOut()" style="margin:10px;" mat-raised-button color="accent"><mat-icon style="margin-right:10px;">account_circle</mat-icon>Sign Out</button>
      </div>
    </form>
  </mat-card>

</div>
</div>
