<div style="padding-top: 100px">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>

      <igx-avatar initials="{{firstName.charAt(0) + lastName.charAt(0)}}"
                  [roundShape]="isCircular"
                  size="medium"
                  [bgColor]="bgColor"
                  [color]="color">
      </igx-avatar>
      <p class="name"><b>{{firstName}} {{lastName}}</b> </p>

    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <div class="info" align="center">
          <p>You are in <b>{{courses.length}}</b> courses</p>
          <p>You have <b>{{friends.length}}</b> friends</p>
          <p> You have <b>{{assignments.length}}</b> assignments</p>
        </div>
      </mat-card-content>
      <div fxLayoutAlign="center center">
        <button (click)="logOut()" style="margin:10px;" mat-raised-button color="accent"><mat-icon style="margin-right:10px;">account_circle</mat-icon>Sign Out</button>
      </div>
    </form>
  </mat-card>

</div>
</div>
