<div style="padding-top: 100px">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>{{firstName}} {{lastName}} </mat-card-title>
      <img style="height: 100px; width: 100px; margin-bottom: 5px" mat-card-avatar src="http://www.utsa.edu/today/images/students/paulmartinez.jpg">
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <br>
        <div class="info">
          <p>You are in {{courses.length}} courses</p>
          <p>You have friends</p>
        </div>
      </mat-card-content>
      <div fxLayoutAlign="center center">
        <button (click)="logOut()" style="margin:10px;" mat-raised-button color="accent"><mat-icon style="margin-right:10px;">account_circle</mat-icon>Sign Out</button>
      </div>
    </form>
  </mat-card>

</div>
</div>
